.button {
  padding: 10px;
  border: 1px solid #80ced6;
  background-color: #80ced6;
  font-size: 18px;
  border-radius: 5px;
  max-width: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}

.button:hover {
  background-color: #618685;
  transition: .5s;
}

.button:disabled {
  opacity: .35;
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: #80ced6;
}